name: test-vms

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Check
        run: |
          git submodule update -f --recursive
          echo "git diff"
          git diff
          echo "git diff --submodule=diff"
          git diff --submodule=diff

          cd gitignore
          echo "git status on submodule"
          git status
